#grid div {

}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    grid-template-areas:
        "nav"
        "indhold";
}

body {
    padding-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.indhold {
    grid-area: indhold;
}

p {
    padding: 5px 20px 0px 20px;
    font-size: 18px;
}

li {
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #435757;
}

.btn-link {
    text-decoration: none;
    color: #F4F6F3 !important;
}

.bg-light {
    background-color: #435757 !important;
}

.navbar-light .navbar-brand {
    color: #F4F6F3 !important;
}

.navbar-light .navbar-toggler {
    color: #F4F6F3 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #F4F6F3 !important;
}

.dropdown-item.active{
    background-color: #829E90;
}

.card-header {
    background-color: #829E90;
    width: 100%;
}



h1, .navbar-brand, .nav-link, #navbarDropdownMenuLink {
   text-transform: uppercase;
    font-size: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    text-align: center;
    padding: 30px 0 5px 0;
    border-bottom: 0.1px double #435757;
    margin-bottom: 0px;
}

h2 {
    color: #F4F6F3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4.8vw;
    margin: 0px;
}

h3 {
    font-weight: bold;
}

.youtube {
    height: auto;
    width: auto;
}

.dropdown-item:active, .dropdown-item:hover {
    background-color: #829E90;
    color: white;
}

.dropdown-item {
    border-top: 1px solid grey;
    font-size: 18px;
}

.navbar-light .navbar-toggler {
    color: #F4F6F3;
    border-color: #F4F6F3;
    background-color: rgba(244,246,243,0.5)
}

button:focus{
    outline-color: #F4F6F3;
}

p a {
    color: #829E90;
    text-decoration: underline;
}

li a {
    color: #829E90;
}

li a:hover, p a:hover {
    color: #435757;
}

@media screen and (min-width: 700px) {
    p {
        font-size: 30px;
    }
    
    body {
        padding-top: 8%;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    .dropdown-item {
        font-size: 36px;
    }
    
    .navbar-brand, .nav-link, #navbarDropdownMenuLink {
        font-size: 36px;
    }
    
    li {
    font-size: 30px;
    }
    
    .indhold {
        padding: 5px;
    }
}

@media screen and (min-width: 1000px) {
     html {
        background-image:url(billeder/baggrund6.png);
        min-height: 100%;
        min-width: 100%;
        background-repeat: repeat;
    }
    
    #grid {
        grid-template-columns: 2.5fr 1.5fr;
        width: auto;
        grid-gap: 15px;
        grid-template-areas:
        "indhold accordion"
        ". accordion"
        ". accordion";
    }
    
    h1 {
        padding-top: 20px;
    }
    
    p {
        font-size: 15px;
    }
    
    li {
    font-size: 15px;
    }
    
    body {
        padding-top: 2%;
            
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    .dropdown-item {
        font-size: 18px;
    }
    
    .navbar-brand, .nav-link, #navbarDropdownMenuLink {
        font-size: 20px;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .indhold {
        margin-left: 5%;
        background-color: white;
        border: 1px solid #435757;
        height: auto;
        width: auto;
    }
    
    .accordiongrid {
        grid-area: accordion;
        height: auto;
        margin-top: 2%;
        margin-right: 5%;
    }
    
    #grid, body {
        background-color: transparent;
    }
    
   
}

@media screen and (min-width: 2000px) {
    p, li {
        font-size: 20px;
    }
    
    .accordiongrid {
        margin-top: 2%;
    }
    
    body {
        padding-top: 1%;
    }
}