#grid div {

}

#grid {
    display: grid;
    grid-gap: 10px;
    width: auto%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "indhold";
}

body {
    padding-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.menu {
    grid-area: nav;
    height: 30%;
}

.indhold {
    grid-area: indhold;
}

p {
    padding: 5px 20px 0px 20px;
    font-size: 18px;
}

li {
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.btn-link {
    text-decoration: none;
    color: #F4F6F3 !important;
}

.bg-light {
    background-color: #435757 !important;
}

.navbar-light .navbar-brand {
    color: #F4F6F3 !important;
}

.navbar-light .navbar-toggler {
    color: #F4F6F3 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #F4F6F3 !important;
}

.dropdown-item.active{
    background-color: #829E90;
}

.card-header {
    background-color: #829E90;
    width: 100%;
}



h1, .navbar-brand, .nav-link, #navbarDropdownMenuLink {
   text-transform: uppercase;
    font-size: 25px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    text-align: center;
    padding: 20px 0 5px 0;
    border-bottom: 0.1px double #435757;
    margin-bottom: 0px;
}

h2 {
    color: #F4F6F3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 4.8vw;
    margin: 0px;
}

h3 {
    font-weight: bold;
}

.youtube {
    height: auto;
    width: auto;
}

.dropdown-item:active, .dropdown-item:hover {
    background-color: #829E90;
    color: white;
}

.dropdown-item {
    border-top: 1px solid grey;
    font-size: 18px;
}

.navbar-light .navbar-toggler {
    color: #F4F6F3;
    border-color: #F4F6F3;
    background-color: rgba(244,246,243,0.5)
}

button:focus{
    outline-color: #F4F6F3;
}

p a {
    color: #829E90;
    text-decoration: underline;
}

li a {
    color: #829E90;
}

li a:hover, p a:hover {
    color: #435757;
}

@media screen and (min-width: 700px) {
    p {
        font-size: 30px;
    }
    
    body {
        padding-top: 8%;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    .dropdown-item {
        font-size: 36px;
    }
    
    .navbar-brand, .nav-link, #navbarDropdownMenuLink {
        font-size: 36px;
    }
    
    li {
    font-size: 30px;
    }
}